html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 13px 20px;
}

.footer {
    height: 60px;
    background: #ccc;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 3px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 3px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 3px 20px;
    margin: 0 0 13px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 13px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 3px 13px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*my custom css*/

._form {
    width: 60%;
}

textarea { 
    overflow:auto; 
    resize:none;
} 

.control-label {
    text-align: left !important;
}

/* .my-nav {
    color: linear-gradient(90deg, rgb(0, 0, 255) 0%, rgba(255,0,0,1) 100%);
} */

.my-nav {
    color: rgb(255, 255, 255, 0);
    background: #ccc;
}  

.navbar-brand {
    color: black !important;
}

.navbar-brand > img {
    display: inline !important;
}

.article {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 6px;
    box-shadow: 3px 3px 8px #ffafaf, -3px 3px 8px #83caf3, 3px -3px 8px #ffafaf, 3px 3px 8px #83caf3;
}

.user-consultation {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 6px;
    box-shadow: 3px 3px 8px #ffafaf, -3px 3px 8px #83caf3, 3px -3px 8px #ffafaf, 3px 3px 8px #83caf3;
}

.home-article {
    height: 400px;
}

article {
    padding: 20px;
}

.article-body {
    bottom: 0%;
    padding: 20px;
}

.breadcrumb {
    background-color: #eee;
}